# version

--swiftversion 6.2

# format options

--wrap-arguments before-first
--wrap-collections before-first

--trailing-commas collections-only

--preserve-acronyms kCFStringEncodingInvalidId

# rules - enabled

--enable redundantVariable
--enable wrapConditionalBodies
--enable wrapEnumCases
--enable acronyms

--enable blankLinesAfterGuardStatements
--enable isEmpty
--enable noExplicitOwnership
--enable privateStateVariables
--enable singlePropertyPerLine
--enable urlMacro
--enable validateTestCases

# rules - disabled

--disable sortImports
--disable wrapMultilineStatementBraces
--disable docComments
--disable swiftTestingTestCaseNames
--disable redundantSendable
