//
//  Signing.xcconfig
//  VisualDiffer
//
//  Created by davide ficano on 19/09/25.
//  Copyright (c) 2025 visualdiffer.com
//

// scripts/setup-local-env.sh copies this file to Signing.local.xcconfig, edit the values there
// the `*.local*` files are never committed

DEVELOPMENT_TEAM = 

PROVISIONING_PROFILE_SPECIFIER =

CODE_SIGN_STYLE = Automatic
