//
//  Versions.xcconfig
//  VisualDiffer
//
//  Created by davide on 01/02/22.
//  Copyright (c) 2022 visualdiffer.com
//

// scripts/setup-local-env.sh copies this file to Versions.local.xcconfig, edit the values there

APP_VERSION = 1.0.0
APP_BUNDLE_VERSION = $(APP_VERSION)

// Remove comment to generate tests setup without running tests
//SWIFT_ACTIVE_COMPILATION_CONDITIONS = TEST_ONLY_SETUP
